.orderSuccess {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.orderSuccess > svg {
  font-size: 7vmax;
  color: #ff0157;
}
.orderSuccess > p {
  font-size: 2vmax;
  font-weight: bold;
  margin-top: 1vmax;
  font-family: inherit;
}
.orderSuccess > a {
  background-color: deepskyblue;
  color: white;
  border: none;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin: 2vmax;
}

@media screen and (max-width: 600px) {
  .orderSuccess > a {
    padding: 3vw 6vw;
    margin: 2vmax;
  }

  .orderSuccess > svg {
    font-size: 20vw;
  }
  .orderSuccess > p {
    margin: 2vmax;
    font-size: 5vw;
  }
}
